#one{
    width: 300px;
    height: 200px;
    background-color: mediumpurple;
    margin-left: 500px;
    margin-top: 250px;
}

/*#two{
    position: relative;
    width: 50px;
    height: 20px;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
}
#three{
    position: relative;
    width: 50px;
    height: 20px;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
}
#tex{
    width: 192px;
}*/